TOKEN=
DB_URL=
DB_URL2=
API_ID=25723056
API_HASH=cbda56fac135e92b755e1243aefe9697
ELEVENLABS_API_KEY=sk_b44b4767f9a664b11d85711409d35b520e9ecdb389a29803
IMAGE_UPLOAD_KEY=366976eca1b95b10f03e8ffda2089038
GROQ_API_KEY=
GEMINI_API_KEY=
MONSTER_API_KEY=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6IjdkYjMyMDJlOWFlYmEzY2Q5NjFkNTNmMDRkNGI1ODNhIiwiY3JlYXRlZF9hdCI6IjIwMjUtMDctMjRUMDg6MzU6NDkuNjMzMTgzIn0.z4qi-uBXFStOWz8aAjUmi5t6xFB4iEd9nXQeTIcIzxM
REPLICATE_API_TOKEN=your_replicate_token
ALONE_OWNER_ID=8458947967
LOG_GROUP_ID=-1001603822916
USER_STRING=
GIST_TOKEN=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
TELEGRAPH_TOKEN=80e1635aa3308ef9c583dac805436c1b5dc5995ce11d5fceb136650eb77f
